/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body, html {
    height: 100%;
    background: lightcoral;
}
body {
    text-align: center;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.btn-primary:disabled, .btn-primary.disabled {
    cursor: not-allowed;
    pointer-events: unset;
}